@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  display: flex;
}

.sidebar {
  width: 20%;
  padding: 1rem;
}

.content {
  width: 60%;
  padding: 1rem;
}

.subsections {
  width: 20%;
  background-color: #0e872824;
  padding: 1rem;
}
