@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  display: flex;
}

.sidebar {
  width: 20%;
}

.content {
  width: 60%;
}

.subsections {
  width: 20%;
  padding: 1rem;
}

.toolbar {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.toolbar button {
  padding: 5px 10px;
  cursor: pointer;
}
.navbar {
  width: 100%; /* Ensure the navbar spans the full width */
}

.sidebar {
  height: calc(100vh - 4rem); /* Adjust height to account for the navbar */
}

.editor {
  flex-grow: 1; /* Allow the editor to take up the remaining space */
}

